<div style="text-align:center; margin-top: 100px; ">
    <mat-form-field appearance="fill">
        <mat-label>Balance Type</mat-label>
        <mat-select [(ngModel)]="balanceOption">
            <mat-option *ngFor="let balanceOption of balanceOptions" [value]="balanceOption" name="balanceOption">{{balanceOption}}</mat-option>
        </mat-select>
    </mat-form-field>
    <app-player></app-player>
    <br><br>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <button mat-raised-button color="warn" (click)="testConnection()">Test Connection</button>
        <button mat-raised-button color="accent" (click)="testPerformance(100)">Test Performance</button>
    </div>
    <br><br>
    <div *ngIf="!connectionAvailable">Connection Status: {{connectionAvailable}}</div>
    <div *ngIf="speedInMs != 0">Performance (ms): {{speedInMs}}</div>
</div>