<div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center" class="home-div">
        <div>
            <figure>
                <img src="assets/img/miai_logo_only.png" height="200px" width="auto">
            </figure>
        </div>
        <div fxLayout="column" class="about-div-text">
            <h2>Balance is a way of life</h2>
            <p class="about-paragraph">Miai (見合い) in Go are, in the simplest terms, a pair of vacant points on the board that are equivalent in
                value. For example, if Black plays at A, White can play at B and suffer no disadvantage from the exchange.</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" class="about-div">
        <div fxLayout="column" class="about-div-text">
            <h2>Balance Inhouse Team</h2>
            <p class="about-paragraph">Get perfectly balanced teams! Choose the balance type you desire, choose players, choose roles, and let the Miai service take care of the rest!</p>
        </div>
        <div>
            <figure>
                <img src="assets/svg/yin-yang.svg" height="150px" width="auto" style="filter: invert(29%) sepia(41%) saturate(1993%) hue-rotate(207deg) brightness(93%) contrast(89%);">
            </figure>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" class="home-div">
        <div>
            <figure>
                <img src="assets/svg/dice.svg" height="200px" width="auto" style="filter: invert(29%) sepia(41%) saturate(1993%) hue-rotate(207deg) brightness(93%) contrast(89%);">
            </figure>
        </div>
        <div fxLayout="column" class="about-div-text">
            <h2>ARAM Champs Randominizer</h2>
            <p class="about-paragraph">Make your ARAM inhouses more enjoyable! Have the ARAM randominzer create two pools of champions for the players to choose from!</p>
        </div>
    </div>
</div>