<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <mat-form-field appearance="fill">
            <mat-label>Player Username</mat-label>
            <input matInput [(ngModel)]="playerName" name="playerName" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updatePlayer()">Update Player</button>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <button mat-raised-button color="accent" (click)="testConnection()">Test Connection</button>
        <button mat-raised-button color="accent" (click)="testPerformance(100)">Test Performance</button>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" style="text-align: center;">
        <div *ngIf="connectionAvailable != null">Connection Status: {{connectionAvailable}}</div>
        <div *ngIf="speedInMs != null">Performance (ms): {{speedInMs}}</div>
        <div *ngIf="playerResponse != null">Player updated!</div>
    </div>
</div>