<div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="32px">
    <div *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]; let i = index" fxFlex="0 1 calc(20% - 32px)">
        <mat-card>
            <mat-card-title>Player {{number}}</mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label>Player Name</mat-label>
                <mat-select [(ngModel)]="chosenPlayers[i].name" name="player{{number}}"
                    (selectionChange)="playerNameChange()" required>
                    <mat-option *ngIf="chosenPlayers[i] === null" [value]="chosenPlayers[i].name">
                        {{chosenPlayers[i].name}}</mat-option>
                    <mat-option *ngFor="let player of filteredPlayers" [value]="player.name">{{player.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="chosenPlayers[i].chosenRoles[0]" name="role{{number}}">
                    <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
    </div>
</div>
<br><br>
<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
    <div style="color:red;" *ngIf="invalidForm">
        Please
        complete the required form fields</div>
    <div fxLayoutGap="20px">
        <button mat-raised-button color="primary" (click)="balancePlayers()">Submit</button>
        <button mat-raised-button color="warn" (click)="randomData()">Randomize Data</button>
        <app-mat-spinner-overlay *ngIf="loading" overlay="true">
        </app-mat-spinner-overlay>
    </div>
</div>
<br><br>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="100px">
    <mat-card *ngIf="balancedTeam != null" fxLayout="column" fxLayoutGap="20px">
        <mat-card-title>Blue Team/Team 1</mat-card-title>
        <span *ngFor="let teamMember of balancedTeam.teamOne">{{teamMember.name}}<span
                *ngIf="teamMember.chosenRoles[0] != null"> - {{teamMember.chosenRoles[0]}}</span>
            <span *ngFor="let roleMmr of teamMember.roleMmrs">
                <span *ngIf="roleMmr.role == teamMember.chosenRoles[0]">({{roleMmr.winRate | percent}})</span></span>
        </span>
    </mat-card>
    <mat-card *ngIf="balancedTeam != null" fxLayout="column" fxLayoutGap="20px">
        <mat-card-title>Red Team/Team 2</mat-card-title>
        <span *ngFor="let teamMember of balancedTeam.teamTwo">{{teamMember.name}}<span
                *ngIf="teamMember.chosenRoles[0] != null"> - {{teamMember.chosenRoles[0]}}</span>
            <span *ngFor="let roleMmr of teamMember.roleMmrs">
                <span *ngIf="roleMmr.role == teamMember.chosenRoles[0]">({{roleMmr.winRate | percent}})</span></span>
        </span>
    </mat-card>
</div>